<?xml version="1.0"?>
<model>
    <name>lwr_robot</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Pavel P</name>
        <email>pavapil@gmail.com</email>
    </author>
    <description>
        KUKA LWR Robot with Robotiq Gripper.
    </description>
</model>
